/* Write your code here: */
/* h1{
    color: blueviolet;
}

h2{
    color: blueviolet;
} */

/* group selectors */
h1,h2{
    color: blueviolet;
} 

/* child selector */
.box >p{
    color: firebrick;
}
/* 
decendant sele */

.box li{
    color: blue;
}
/* chaining */
li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem;
}